{% extends 'base.html' %}
{% load on_favs %}

{% block page_title %}
    {{ room.name }}
{% endblock page_title %}

{% block content %}
    <div>
        <h1>{{ room.name }}</h1>
        <h3>{{ room.description }}</h3>
    </div>
    <div>
    {% on_favs room as on_favs_boolean %}
    {% if on_favs_boolean %}
        <a class="block btn-link w-1/5 my-3 bg-green-500" href="{% url "lists:toggle-room" room.pk%}?action=remove">Remove to Favorite</a>
    {% else %}
        <a class="block btn-link w-1/5 my-3" href="{% url "lists:toggle-room" room.pk%}?action=add">Save to Favorite</a>
    {% endif %}
    </div>

    <div>
        <h2>By: <a href="{{ room.host.get_absolute_url }}">{{ room.host.username }}</a>
            {% if room.host.is_superHost %}
                (Super Host)
            {% endif %}
        </h2>
        <h3>Amenities</h3>
        <ul>
        {% for amenity in room.amenities.all %}
            <li>{{ amenity }}</li>
        {% endfor %}
        </ul>
        <h3>Facilities</h3>
        <ul>
        {% for facility in room.facilities.all %}
            <li>{{ facility }}</li>
        {% endfor %}
        </ul>
        <h3>House Rules</h3>
        <ul>
        {% for rule in room.house_rules.all %}
            <li>{{ rule }}</li>
        {% endfor %}
        </ul>
    </div>

{% endblock content %}