// tailwind scss init, 수정 이후 npm run css 해줘야 styles.css 파일에 변경 사항 적용 > frontend 반영됨
@tailwind base;
@tailwind components;

// custom style
.search-box {
  transition: box-shadow 0.2s linear;
}

.nav_link {
  @apply ml-8 border-b-2 border-white hover:border-gray-600 h-full flex items-center;
  a {
    @apply py-10 px-5;
  }
}

.btn {
  @apply text-center rounded-sm py-5 text-lg font-light w-full;
}

.btn-link {
  @apply text-center py-3 rounded-lg font-light text-lg w-full text-white bg-red-500;
}

input {
  @apply rounded-sm py-5 text-lg font-light w-full text-left border border-gray-600 px-5 focus:outline-none focus:border-breeze_bnb mb-3;
}

form {
  .input {
    @apply mb-3;
    &.has_error {
      input {
        @apply bg-red-200 border-gray-400 focus:border-red-500;
      }
    }
  }
}

@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  5% {
    opacity: 1;
    transform: translateY(50px);
  }
  95% {
    opacity: 1;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.message {
  animation: messageFadeIn 5s ease-in-out forwards;
  &.error {
    @apply bg-red-600;
  }
  &.info {
    @apply bg-blue-500;
  }
  &.success {
    @apply bg-green-600;
  }
  &.warning {
    @apply bg-yellow-400;
  }
}

@tailwind utilities;
