{% extends "base.html" %}

{% block page_title %}
    Change Your Password
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}
    {% if user_obj.LOGIN_EMAIL %}
        <form method="POST" action="{% url "users:update-password" %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button>change</button>
        </form>
    {% else %}
        <p>You've signed up by {{ user_obj.login_method }} social account.
        So, You don't need change your password.</p>

        <a href={% url "users:update" %}>go back to profile page</a>
    {% endif %}
{% endblock %}